<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @tipo_answer.topic %>
</p>

<%= link_to 'Edit', edit_tipo_answer_path(@tipo_answer) %> |
<%= link_to 'Back', tipo_answers_path %>
