<!-- ================================================================================ -->
<!-- Test Analisistem -->
<!-- Project: LUTO FORM -->
<!-- Author: Johnny Zapata Serna -->
<!-- Description: program to evaluate quality of Luto Clinic implementing a form-->
<!-- ================================================================================ -->

<div class="bg-img">
	<div class="container">
		<h1 align="center" style="color: red">CLINICA LUTO</h1>
		</br>
		<h5 align="center">Bienvenidos y bienvenidas a nuestro sistema de evaluación de la calidad de nuestros servicios.</br> Te invitamos a contestar las siguientes preguntas con el ánimo de que nos ayudes a mejorar </br> y así ofrecerte día a día una mejor atención.</h5>
	</div>

	<!-- Form -->
	<div class="container">
		</br>
		<h2 align="center" style="color: red">Encuesta de Satisfacción</h2>
		</br>
		<%= render 'forms/form', form: @form %>
		<div class="row" align="center">
			<p >
				Acepto bajo voluntad propia diligenciar la siguiente encuesta, teniendo en cuenta que no es necesario suministrar datos personales.
			</p>

		</div>
	</div>
	<div class="container">
		<span> </span>	
		<span> </span>	
		<span> </span>	
	</div>
</div>